---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Skills from '../components/Skills.astro'
import Projects from '../components/Projects.astro';
import Current from '../components/Current.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<meta name="viewport" content="width=device-width, initial-scale=1">
<Layout>
    <Hero/>
    <section class="programmer container blur grid-md">
        <img src="src/assets/frontphoto.jpeg" class="front-photo" alt="mainPhoto" aria-hidden="true"/>
    </section>
    <Skills/>
    <Projects/>
    <Current/>
</Layout>
