<section id="contact" class="blur container-md">
    <form action="https://api.web3forms.com/submit" method="POST" class="contact-container">
        <h2 class="h2 contact-header">Lets Get In Touch</h2>
        <input type="hidden" name="access_key" value="fe00a997-7cb0-4188-a14b-8b3d060e04c5">
        <div class="contact-top">
            <input type="text" name="name" placeholder="Your name" class="contact-item contact-item-top" required>
            <input type="email" name="email" placeholder="Your email" class="contact-item contact-item-top" required>
        </div>
        <div class="contact-bottom">
            <textarea name="message" placeholder="Your message" class="contact-item contact-item-bottom" required></textarea>
        </div>
        <button type="submit" class="btn btn--primary contact-btn">Submit</button>
    </form>
</section>