---
import {Icon} from 'astro-icon/components'
const content = "Currently I'm working on a personal AI assistant. Right now I'm trying to incorporate Natural Language Processing and Google Calendar API for easy schedule upkeep."
---

<section id="current" class="blur currProject-wrapper container-md">
    <h3 class="currProject-head text-straight-white">What's Going On Right Now?</h3>
    <div class="currProject-img-wrapper hiddenX" data-direction="left">
        <Icon name="healthicons:artificial-intelligence-outline" class="currProject-img hiddenY"/>
    </div>
    <p class="currProject-content text-straight-white narrow">{content}</p>
</section>


