---
import {Icon} from 'astro-icon/components'
const myIcon = "@icons/chess.3757adde";
const content = "Currently working on the development of a platform to play chess, where I'll eventually develop an AI-opponent for users with different levels of difficulty."
---

<section id="current" class="blur currProject-wrapper container-md">
    <h3 class="currProject-head text-straight-white">What's Going On Right Now?</h3>
    <div class="currProject-img-wrapper hiddenX" data-direction="left">
        <img src="/src/icons/chess.3757adde.svg" alt="Chess Icon" class="currProject-img hiddenY"/>
    </div>
    <p class="currProject-content text-straight-white narrow">{content}</p>
</section>

<script is:inline src="/public/slideInY.js" type="module"/>
