---
import {Icon} from 'astro-icon/components'
const myIcon = "@icons/chess.3757adde";
const content = "Vel eget ruvestibulum mauris et ut hendrerit aliquam vel nibh amet, vitae at purus dui semper vel facilisis enim"
---

<section id="current" class="blur currProject-wrapper container-md">
    <h3 class="currProject-head text-straight-white">What's Going On Right Now?</h3>
    <div class="currProject-img-wrapper">
        <img src="/src/icons/chess.3757adde.svg" alt="Chess Icon" class="currProject-img" />
    </div>
    <p class="currProject-content text-text-alt narrow">{content}</p>
</section>