---
import {Icon} from 'astro-icon/components'
const content = "Currently, I'm working in Sandbox, a software consultancy which works in agile teams to design, test, and deploy software solutions; I'm currently contributing to the consultancy's flagship web application, "
---

<section id="current" class="blur currProject-wrapper container-md">
    <h3 class="currProject-head text-straight-white">What's Going On Right Now?</h3>
    <div class="currProject-img-wrapper hiddenX" data-direction="left">
        <Icon name="sandbox" class="currProject-img hiddenY"/>
    </div>
    <p class="currProject-content text-straight-white narrow">{content} <a target = "_blank" class="searchLink"href="https://searchneu.com/">SearchNEU</a>.</p>
</section>


