---
import {Icon} from 'astro-icon/components'
const myIcon = "@icons/chess.3757adde";
const content = "Currently working on the development of a platform to play chess, where I'll eventually develop an AI-opponent for users with different levels of difficulty."
import chessImage from '/public/chess.3757adde.svg';
---

<section id="current" class="blur currProject-wrapper container-md">
    <h3 class="currProject-head text-straight-white">What's Going On Right Now?</h3>
    <div class="currProject-img-wrapper hiddenX" data-direction="left">
        <img src={chessImage.src} alt="Chess Icon" class="currProject-img hiddenY"/>
    </div>
    <p class="currProject-content text-straight-white narrow">{content}</p>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const elements = document.querySelectorAll(".hiddenY");
    const observer = new IntersectionObserver((entries, observer) =>{
        entries.forEach(entry =>{
            if(entry.isIntersecting) {
                entry.target.classList.add("visibleY");
                observer.unobserve(entry.target);
            }
        });
    }, {threshold: 0.1});

    let isFirst = true
    const delay = 1300
    elements.forEach(element => {
        if(isFirst){
            setTimeout(() => {
                observer.observe(element)}, delay);
            isFirst = false;
        }
        else{
            observer.observe(element);
        }
    });     
});
</script>
