---
import Button from './Button.astro';
import frontPhoto from '/public/frontphoto.jpeg';
import backphotoleft from '/public/backphoto-left.jpg';
import backphotoright from '/public/backphoto-right-3.jpg';
---
<header class = "grid-lg">
    <div class = "grid-sm">
        <h1 class="h1 text-standard-gradient">The LJCoolJ Portfolio ;D</h1>
        <p id="heroType" class="h3 text-text-alt narrow"></p>
    </div>
    <div class = "grid-sm">
        <Button text="Check Them Out" link="#projects" style="secondary"/>
        <small class="text-text-alt">Trust Me, They're Super Cool</small>
    </div>
</header>
<section class="photos-container container blur grid-md">
    <section class="back-photos">
        <img src={backphotoleft.src} class="back-photo hiddenX" data-direction="left" alt="mainPhoto" aria-hidden="true"/>
        <img src={backphotoright.src} class="back-photo hiddenX" data-direction="right" alt="mainPhoto" aria-hidden="true"/>
    </section>
    <img src={frontPhoto.src} class="front-photo hiddenY" alt="mainPhoto" aria-hidden="true"/>
</section>