
---
import Button from './Button.astro'
---
<header class = "grid-lg">
    <div class = "grid-sm">
        <h1 class="h1 text-standard-gradient">Welcome To My Website :D</h1>
        <p class="h3 text-text-alt narrow">
            This Is Where I Keep My Cool Projects
        </p>
    </div>
    <div class = "grid-sm">
        <Button text="Check Them Out" link="#" style="secondary"/>
        <small class="text-text-alt">Trust Me, They're Super Cool</small>
    </div>
</header>