---
import Button from './Button.astro';
import frontPhoto from '/public/frontphotoW.webp';
import backphotoleft from '/public/backphoto-leftW.webp';
import backphotoright from '/public/backphoto-rightW.webp';
---
<header class = "grid-lg">
    <div class = "grid-sm">
        <h1 class="h1 text-text">Heyo, I'm Lucas Johnson</h1>
        <p id="heroType" class="h3 text-text-alt narrow"><span class="hidden" id="heroText">And Welcome To My Portfolio</span><span id="cursor">_</span></p>
    </div>
    <div class = "grid-sm">
        <Button text="Check Out My Work" link="#projects" style="secondary"/>
        <small class="text-text-alt">Trust Me, It's Super Cool</small>
    </div>
</header>
<section class="photos-container container blur grid-md">
    <section class="back-photos">
        <img src={backphotoleft.src} class="back-photo hiddenX" data-direction="left" alt="mainPhoto" aria-hidden="true"/>
        <img src={backphotoright.src} class="back-photo hiddenX" data-direction="right" alt="mainPhoto" aria-hidden="true"/>
    </section>
    <img src={frontPhoto.src} class="front-photo hiddenY" alt="mainPhoto" aria-hidden="true"/>
</section>