
---
import Button from './Button.astro'
---
<header class = "grid-lg">
    <div class = "grid-sm">
        <span class = "animateOuter">
            <span class="animateInner">
                <h1 class="h1 text-standard-gradient">Welcome To The Website :D</h1>
            </span>
        </span>
        <p class="h3 text-text-alt narrow">
            This Is Where I Keep My Cool Projects
        </p>
    </div>
    <div class = "grid-sm">
        <Button text="Check Them Out" link="#projects" style="secondary"/>
        <small class="text-text-alt">Trust Me, They're Super Cool</small>
    </div>
</header>