---
import {Icon} from 'astro-icon/components'
import skills from '../assets/skills.json'
---

<section id="skills" class="skills container-sm">
    <h2 class="sr-only">Services</h2>
    {
      skills.map(skill => (
        <div class="skill">
          <div>
            <Icon name={skill.icon} class="skill-icon hiddenY"/>
          </div>
          <h3>{skill.name}</h3>
          <p class="text-text-alt">{skill.content}</p>
        </div>
      ))
    }
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
    const elements = document.querySelectorAll(".hiddenY");
    const observer = new IntersectionObserver((entries, observer) =>{
        entries.forEach(entry =>{
            if(entry.isIntersecting) {
                entry.target.classList.add("visibleY");
                observer.unobserve(entry.target);
            }
        });
    }, {threshold: 0.1});

    let isFirst = true
    const delay = 1300
    elements.forEach(element => {
        if(isFirst){
            setTimeout(() => {
                observer.observe(element)}, delay);
            isFirst = false;
        }
        else{
            observer.observe(element);
        }
    });     
});
</script>
