---
import Navbar from '../components/Navbar.astro';
const{title="Home"} = Astro.props;
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="icon" href="/favicon.png">
		<style>
			@import "../styles/global.css";
		</style>
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<div class="wrapper" id="home">
			<Navbar/>
			<main>
				<slot />
			</main>
			<footer>
				<small>Copyright © <span id="copyrightYr"></span> Lucas Johnson</small>
			</footer>
		</div>
		<script>
			const element = document.querySelector('#copyrightYr')
			if(element){
				element.textContent = String(new Date().getFullYear());
			}
		</script>
	</body>
</html>
